<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 왼쪽 구문(http://mybaits) 강제로 다운로드 -->
<mapper namespace="com.chun.springpt.dao.MessageDao">
	<insert id="insertRoom" parameterType="com.chun.springpt.vo.MsgRoomVO">
		<!--INSERT INTO msg_rooms (room_id) VALUES (#{roomId})-->
		INSERT INTO CHATLOG (CHATROOMID) VALUES (#{CHATROOMID})
	</insert>
	<!-- 다른 쿼리들 추가 가능 -->
</mapper>