<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 왼쪽 구문(http://mybaits) 강제로 다운로드 -->
<mapper namespace="com.chun.springpt.dao.FoodDao">
	<select id="selectFoodList" resultType="fvo">
	<![CDATA[
		SELECT FOODIMG, FOODNUM, FOODNAME
		FROM (
			SELECT FOODIMG, FOODNUM, FOODNAME
			FROM FOOD
			ORDER BY DBMS_RANDOM.VALUE
		)
		WHERE ROWNUM <= 50
		]]>
	</select>
	<select id="selecOnetFood" resultType="fvo">
		select * from food where foodnum=#{foodnum}
	</select>
</mapper>