<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 왼쪽 구문(http://mybaits) 강제로 다운로드 -->
<mapper namespace="com.chun.springpt.dao.MemberDao">
	<select id="selectList" resultType="mvo">
		select * from Members
	</select>

   <!-- <select id="findMyNum" resultType="int" parameterType="String">
      select nnum from members where id = #{id}
   </select> -->
   
	<!-- 	<select id="selectList" resultType="bvo">
      select * from board
   </select>
    
   <insert id="addBoard" parameterType="bvo">
      insert into board
	values(board_seq.nextVal,#{author},sysdate,#{contents},#{title})
   </insert>-->
   <select id ="getRegion" resultType="String">
      select region from normal_mem where normal_id = #{userName}
   </select>
    <update id="changeWeight">
        merge into memberdietlog m
        using (select nnum from normal_mem where normal_id = #{userName}) n
        on (m.nnum = n.nnum and m.dietlogdate = trunc(SYSDATE))
        when matched then
            update set m.dietlogkg = #{weight}
        when not matched then
            insert (nnum, dietlogkg, dietlogdate) values (n.nnum, #{weight}, trunc(SYSDATE))
    </update>



</mapper>