<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 왼쪽 구문(http://mybaits) 강제로 다운로드 -->
<mapper namespace="com.chun.springpt.dao.UpPhotoDao">
    <select id="todayPhotoList" resultType="uptvo">
        select UpPhoto.* from UpPhoto
                                  join normal_mem on UpPhoto.nnum = normal_mem.nnum
        where TRUNC(UpPhoto.uploaddate) = '24/01/13' and normal_mem.normal_id = #{nnum}
    </select>
</mapper>