<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 왼쪽 구문(http://mybaits) 강제로 다운로드 -->
<mapper namespace="com.chun.springpt.dao.UpPhotoDao">
    <select id="todayPhotoList" resultType="uptvo">
        SELECT
            UpPhoto.*, food.FOODCAL, food.FOOD_TAN, food.FOOD_DAN, food.FOOD_GI
        FROM
            UpPhoto
                JOIN normal_mem ON UpPhoto.nnum = normal_mem.nnum
                JOIN food ON UpPhoto.foodnum = food.FOODNUM
        WHERE
            TRUNC(UpPhoto.uploaddate) = TRUNC(SYSDATE)
          AND normal_mem.normal_id = #{nnum}
    </select>
    <delete id="deleteFood" parameterType="map">
        <![CDATA[
        delete from upphoto
        where upphotoid = #{upphotoid} and nnum in
            (select nnum from normal_mem where normal_id = #{user_id} )
        ]]>
    </delete>
</mapper>