<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!-- 왼쪽 구문(http://mybaits) 강제로 다운로드 -->
<mapper namespace="com.chun.springpt.dao.UpPhotoDao">
    <select id="todayPhotoList" resultType="uptvo">
        SELECT
            UpPhoto.*, food.FOODCAL, food.FOOD_TAN, food.FOOD_DAN, food.FOOD_GI, food.foodweight
        FROM
            UpPhoto
                JOIN normal_mem ON UpPhoto.nnum = normal_mem.nnum
                JOIN food ON UpPhoto.foodnum = food.FOODNUM
        WHERE
            TRUNC(UpPhoto.uploaddate) = TRUNC(TO_DATE(#{date}, 'YYYY-MM-DD'))
          AND normal_mem.normal_id = #{user_id}
    </select>
    <delete id="deleteMemberFood">
        DELETE FROM upphoto WHERE upphotoid = #{upphotoid}
    </delete>
    <select id="selectUpLoadDate" resultType="Date">
        SELECT uploaddate
        FROM memberfood m
                 JOIN upphoto u ON m.upphotoid = u.upphotoid
        WHERE TRUNC(u.uploaddate) = (SELECT TRUNC(uploaddate) FROM upphoto WHERE upphotoid = #{upphotoid})
          AND m.nnum = (SELECT nnum FROM upphoto WHERE upphotoid = #{upphotoid})
    </select>
    <update id="updatePlusFood" parameterType="Date">
        <![CDATA[
        UPDATE memberfood m
        SET m.rating = m.rating + 1
        WHERE m.upphotoid IN (
            SELECT u.upphotoid
            FROM upphoto u
            WHERE TRUNC(u.uploaddate) < TRUNC(#{uploaddate})
        )
        ]]>
    </update>
    <update id="updateQuantity" parameterType="uptvo">
        update upphoto set mass = #{mass} where upphotoid = #{upphotoid}
    </update>
    <select id="selectFoodWeight" resultType="Map">
        SELECT f.foodweight, f.foodcal, f.food_tan, f.food_dan, f.food_gi
        FROM food f
                 JOIN upphoto u ON f.foodnum = u.foodnum
        WHERE u.upphotoid = #{upphotoid}
    </select>
    <insert id="insertRequestFood" parameterType="irvo">
        insert into imgediterequest(EDIT_REQUEST_ID, AFTER_DATA,BEFORE_DATA,EDIT_REQUEST_STATUS,IMG_EDIT,IMG_EDITCOMMENT,UP_PHOTO_ID)
        values(editrequestid_seq.nextval, #{after}, #{before}, 0, sysdate, #{imgeditcomment}, #{upphotoid})
    </insert>
    <update id="updateUpphotoFoodnum">
        update upphoto set foodnum = #{after} where upphotoid = #{upphotoid}
    </update>
    <select id="getRequestFoodName">
        select IMG_EDITCOMMENT from
          (select IMG_EDITCOMMENT, EDIT_REQUEST_ID
           from imgediterequest where up_photo_id = #{upphotoid}
        order by EDIT_REQUEST_ID desc)
            where rownum = 1
    </select>
</mapper>